<%- include('./partials/header.ejs'); %>

    <main class="form-signin text-center">
      <form method="post" action="/">
        <img class="mb-4" src="./images/bootstrap/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com" value="<%= data.email %>">
          <label for="email">Email address</label>
          <% if(errors.username) { %>
          <p class="error show"><%= errors.email.msg %></p>
          <% } %>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="password">Password</label>
          <% if(errors.password) { %>
          <p class="error show"><%= errors.password.msg %></p>
          <% } %>
        </div>
        <div class="form-floating">
          <% if(errors.common) { %>
          <p class="error show"><%= errors.common.msg %></p>
          <% } %>
        </div>
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Sign in" />
      </form>
    </main>
    
  </body>
</html>