<%- include('../partials/header.ejs'); %>

<%- include('../partials/navbar.ejs'); %>

<%- include('../partials/sidebar.ejs'); %>
  
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="row">
                        <div class="col-3">
                            <h1 class="h2">Trello</h1>
                        </div>
                        <div class="col-9 text-end">
                            <% if(trelloToken === "") { %>
                                <a class="btn btn-success" href="/trello/authorize">Add Trello Account</a>
                            <% } else { %>
                                <a class="btn btn-info" href="/trello/import">Import</a>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="workspaceList">
                    <% workspaces.forEach(function(company) { %>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#workspace<%= company._id %>" aria-expanded="false" aria-controls="workspace<%= company._id %>">
                            <%= company.name %>
                        </button>
                      </h2>
                      <div id="workspace<%= company._id %>" class="accordion-collapse" data-bs-parent="#workspaceList">
                        <div class="accordion-body">
                            <% boards.forEach(function(board) { %>
                                <% if(board.workspace === company._id) %>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= board._id %>" aria-expanded="false" aria-controls="<%= board._id %>">
                                                <%= board.name %>
                                            </button>
                                        </h2>
                                        <div id="<%= board._id %>" class="accordion-collapse collapse" data-bs-parent="#boardList">
                                            <div class="accordion-body">
                                                <% lists.forEach(function(list) { %>
                                                    <% if(list.board === board._id) %>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= list._id %>" aria-expanded="false" aria-controls="<%= list._id %>">
                                                                    <%= list.name %>
                                                                </button>
                                                            </h2>
                                                            <div id="<%= list._id %>" class="accordion-collapse collapse" data-bs-parent="#listList">
                                                                <div class="accordion-body">
                                                                    <% cards.forEach(function(card) { %>
                                                                        <% if(card.list === list._id) %>
                                                                            <div class="accordion-item">
                                                                                <h2 class="accordion-header">
                                                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= card._id %>" aria-expanded="false" aria-controls="<%= card._id %>">
                                                                                        <%= card.name %>
                                                                                    </button>
                                                                                </h2>
                                                                                <div id="<%= card._id %>" class="accordion-collapse collapse" data-bs-parent="#cardList">
                                                                                    <div class="accordion-body">
                                                                                    
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        <% } %>
                                                                    <% }); %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                <% }); %>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                </div>

            </main>
        </div>
    </div>

</body>
</html>